<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">

<body>
  <header>
    <div>
      <%- include('./partials/header.ejs') %>
    </div>
    <div class="w3-bar w3-black">
      <a class="w3-bar-item w3-button" href="/anadirImagen" style="width:15% ">Añadir Imagen</a>
      <a class="w3-bar-item w3-button" href="/mostrar" style="width:15% ;color:greenyellow">Mostrar Todo</a> 
      <a class="w3-bar-item w3-button" href="/anadirAudio" style="width:15% ">Añadir Audio</a>
    </div>  
  </header>
    <div class="w3-row"> 
        <div class="container">
          <% todasLasImagenes %> 
        <% todasLasImagenes.forEach(function(imagen) { %>
            <div class="w3-card-4" style="width: 200px; margin: 10px">
              <h2> <%= imagen.titulo %>  </h2>
                <img src="<%= imagen.url %>" alt="foto" style="width: 120px; height:120px">
                <p>Fecha: <%= imagen.fecha %>  </p>
                <p class="cuadradoColor" style="background-color:rgb(<%= imagen.color %>)"></p>
                <p>rgb:<%= imagen.color %> </p>
                <div class="w3-container w3-center">
                    
                </div>
            </div>

            <% }); %>
        </div>
              <p>Total de imagenes encontradas: <%= totalImagenes %></p>
        </div>
    
        <%- include('./partials/footer.ejs') %>

</body> 
</html>
